.confirm-order-container{
    height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 6fr 3fr;  
    box-sizing: border-box;
}

.confirm-shipping-area{
    padding: 2vmax 5vmax;
    padding-bottom: 0%;
}
.confirm-shipping-area > p{
    padding: 0.6vmax 0;
    border-bottom: 1px solid #bec5cf;
    width: 20%;
    text-align: center;
    font: 400 1.2vmax "Rubik";
}
.confirm-shipping-area-box > div{
    display: flex;
    align-items: center;
    margin: 1vmax 0;
}
.confirm-shipping-area-box > div > p{
    font-size: 1vmax;
    font-weight: 500;
    font-family:"Roboto",sans-serif;
    margin-left: 1vmax;
}

.confrim-cartItems-container{
    box-sizing: border-box;
    padding: 0 5vmax;
}
.confirm-cartItems-box > div{
    box-sizing: border-box;
    margin-top: 3vmax;
    padding: 1vmax 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #474747;
}
.image-container{
   width: 17vw;
    height: 27vh;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.details{
    display: flex;
    align-items: center;
    margin-left: 4vmax;
}
.details a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
    font: 400 1.1vmax "Rubik",sans-serif;
} 
 .detail{
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
   }
   .detail > div{
    display: flex;
    align-items: center;
    color: #000;
    gap: 10px;
    font: 400 1.2vmax "Rubik",sans-serif;
   }
.detail > p{
     color: #000;
    gap: 10px;
    font: 400 1.2vmax "Rubik",sans-serif;
}
.orderSummary {
    padding: 1vmax 7vmax;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.267);
    transition: 0.5s;
  }
  .orderSummary:hover {
    padding: 1vmax 7vmax;
    box-shadow: 1px 2px 7px 2px #fff;
  }
  .orderSummary > p {
    text-align: center;
    font: 400 1.3vmax "Rubik";
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    padding: 1vmax;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }

  .orderSummary > div > div {
    display: flex;
    align-items: center;
    font-size: 1vmax;
    font-weight: 500;
    font-family:"Roboto",sans-serif;
    justify-content: space-between;
    margin: 2vmax 0;
  }
  .orderSummary > div > div > span {
    color: rgba(0, 0, 0, 0.692);
  }
  .orderSummaryTotal {
    display: flex;
    align-items: center;
    font-size: 1vmax;
    font-weight: 500;
    font-family:"Roboto",sans-serif;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.363);
    padding: 2vmax 0;
  }
  .orderSummary > button {
    background-color: red;
    color: white;
    width: 100%;
    padding: 1vmax;
    border: none;
    margin: auto;
    border-radius: 7px;

    cursor: pointer;
    transition: 0.5s;
   font: 400 1vmax "Rubik",sans-serif;
  }
  
  .orderSummary > button:hover {
    transform: scale(1.1);
    border-radius: 7px;
    background-color: rgb(192, 71, 50);
  }
  .empty-card{
    
    font: 500   1.5vmax "Roboto",sans-serif;
  }
  @media screen and (max-width:600px){
  .confirm-order-container{
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.confirm-shipping-area{
    padding: 2vmax 5vmax;
    padding-bottom: 0%;
    
}
.confirm-shipping-area > p{
  
    width: 30%;
  
    font: 400 2.2vmax "Rubik";
}
.confirm-shipping-area-box > div > p{
    font-size: 2.2vmax;
    margin-left: 1vmax;
}
.confrim-cartItems-container{
    box-sizing: border-box;
    padding: 0px 1vmax;
     
}
.confirm-cartItems-box > div{
  display: flex;
 flex-direction: column;
 margin-top: 1vmax;

}
.image-container{
   width: 36vw;
    height: 30vh;
 
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details{
    display: flex;
    align-items: center;
    margin-left: 4vmax;
}
.details a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
    font: 400 2vmax "Rubik",sans-serif;
} 
 .detail{
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
   }
   .detail > div{
    display: flex;
    align-items: center;
    color: #000;
    gap: 10px;
    font: 400 2.1vmax "Rubik",sans-serif;
   }
.detail > p{
     color: #000;
    gap: 10px;
    font: 400 2vmax "Rubik",sans-serif;
}

.orderSummary {
    padding: 1vmax 1vmax;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.267);
    transition: 0.5s;
   
  }

  .orderSummary > p {
   
    font: 400 2.5vmax "Rubik";   
  }

  .orderSummary > div > div {

    font-size: 2.2vmax;
    padding: 0 1vmax;
   
    margin: 2vmax 0;
  
  }
  .orderSummary > div > div > span {
    color: rgba(0, 0, 0, 0.692);
   
    font: 500 2.2vmax "Rubik",sans-serif;
  }
  .orderSummaryTotal {

    font:500 2.3vmax "Rubik",sans-serif;
  
    padding: 0vmax 1vmax;

  
  }
  .orderSummary > button {
    padding: 2vmax 0;

    font: 400 2.3vmax "Rubik",sans-serif;
  }
    .empty-card{
    font: 500   2.5vmax "Roboto",sans-serif;
  }
  }