.homeHeader{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:3.5rem;
    max-width: 1490px;
    height: 300px;
   
}
  .skeleton-box{
        height: 300px;
        width: 100%;
        margin-top: 2rem;
        border-radius: 8px;
         background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );

display: flex;
align-items: center;
justify-content: center;
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
    }
    .skeleton-box > p{
 text-align: center;
 font: 400 16px "Roboto", sans-serif;
    }
      @keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}
.image{ 
    width: 100%;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    margin-bottom: -300px;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,));
}
.image{
    display: flex;
     width: 100%;
      
    background-size: contain;
    object-fit:cover;
}


.image .left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    flex: 5%;
    height: 200px;
   
    padding: 15px;

}
.image .left:hover{
    cursor: pointer;
    border: 1px solid gray ;
    color: #fff;
    background-color: rgba(0,0,0,0.45) ;
    border: 3px solid #fff;
    
    border-radius: 6px;
}
.image .left svg{
    font-size: 30px;
    color: #fff;
}
.image .center{
    flex: 90%;
}
.image .right{
    display: flex;
    align-items: center;
    justify-content: center;
     margin-top: 70px;
    flex: 5%;
    height: 200px;
   
    padding: 15px;
 
   
}
.image .right:hover{
    /* cursor: pointer; */
    cursor:pointer;
    border: 1px solid gray ;
    background-color:rgba(0,0,0,0.45);
    color: #111;
    border-radius: 6px;
      border: 3px solid #fff;
}
.image .right svg{
    font-size: 30px;
    color: #fff;
}


@media only screen and (max-width:600px){
    .homeHeader{
        position: relative;
        top: -20px;
       height: 300px;
       display: flex;
       align-items: center;
       justify-content: center;
    
    }
   
    .image{
       position: absolute;
       top: 30px;
       height: 100%;
    }
    .image .left{
        position: relative;
        top: 2rem;
       height: 50px;
       width: 0;
    }
     .image .left svg{
        font-size: 25px;
    }
    .image .right{
        position: relative;
        top: 2rem;
       
       height: 50px;
       width: 0;
    }
     .image .right svg{
        font-size: 25px;
    }
    .image .right svg{
        font-size: 25px;
    }
     .image .left{
        color: #fff;
     }
}