.product_container4 {
   margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
   transition: 0.3s;
 
}
.product_container4:hover{
 display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.1);
    margin-top: -2px;
}
  .product_image4 {
 width: 9vw;
    max-height: 19vh;
    /* mask-image: linear-gradient(to bottom, rgb(92, 80, 80), rgba(148, 142, 142, 0)); */
  }
   .product_image4 img{
     width: 100%;
    height: 100%;
    object-fit: cover;
      border-radius: 8px;
   }
  .product_details4 {
    margin-top: 10px;
    text-align: center;
  }
  
  .product_name4 {
    font-size: 11px;
    color: #111;
    width: 8vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
  .product_discount4 {
 
    background-color: red;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    padding: 5px;
    width: 5vw;
    font-family: 'Roboto', sans-serif;
     font-size: 10px;
  }
  @media only screen and (max-width:700px) {
    .product_container4 {
      padding: 10px 0.6vmax;
      display: flex;
      flex-direction: column;
      align-items: center;
     transition: 0.3s;
     box-sizing: border-box;
    } 
    .product_image4 {
     width: 40vw;
    height: 25vh;
    }
      .product_details4 {
    margin-top: 10px;
    text-align: center;
  }
    
     .product_name4 {
      font-size: 12px;
      color: #111;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      width: fit-content;
    }
   .product_discount4{
         background-color: red;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    width: 16vw;
    font-family: 'Roboto', sans-serif;
     font-size: 13px; 
    }
  }